*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-style: normal;
	border: 0;
	box-sizing: border-box;
}
body{
	font-size: 16px; 
	color: #494949;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    background-color: #f8f8f8;
    font-family: "微軟正黑體", 'Microsoft JhengHei';
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: auto;
}
img{
	width: 100%;
}
.flex{
	-webkit-display: flex;
	display: flex;
	-webkit-display: box;
	display: box;
}
.cell{
	-webkit-flex: 1;
	flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
}
.c_h{
	color: #f7b800;
}
.body{
	max-width: 960px;
	margin: auto;
	display: block;
	padding: 0 130px;
	background: #fff;
}
.logo{
	font-size: 72px;
	height: 120px;
	line-height: 120px;
}
.content .img{
	width: 350px;
}
.content .img  span{
	height: 40px;
	line-height: 40px;
	display: block;
}
.dist{
	padding: 10px 0 0 20px;
}
.dist .tip{
	font-size: 22px;
	padding-left: 20px;
	line-height: 30px;
}
.dist li{
	font-weight: 600;
	padding: 10px 0 5px 10px;
	margin-left: 40px;
	font-size: 16px;
}
.f_logo{
	width: 180px;
	display: block;
}
.company{
	font-size: 18px;
	line-height: 30px;
}
.company + p{
	line-height: 24px;
}
.lang{
	text-align: right;
	position: relative;
}
.lang p{
	position: absolute;
	width: 100%;
	padding: 10px;
}
.lang a{
	color: #ccc;
	padding: 0 4px;
}
.lang a.checked{
	color: #383838;
}
@media all and (max-width: 640px) {
	.logo{
		font-size: 50px;
	}
	.body{
		width: 100%;
		padding: 10px 20px;
	}
    .content.flex{
    	display: block;
    }
    .content .img{
		width: 100%;
	}
    .dist{
    	padding: 0;
    }
    .dist .tip{
    	padding: 0;
    }
    .dist li{
    	padding: 5px;
    	margin: 0 0 0 20px;
    }
    .bottom.flex{
    	display: block;
    }
    .f_logo{
    	margin: auto;
    }
    .bottom p{
    	padding-bottom: 40px;
    }
}